.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
ul{
 width: 100%;
 padding: 0;
}
li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}
li span{
  flex:1;
}
li input{
  flex:1;
}
li button{
  margin-left:20px;
}